
@charset "utf-8";


@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url(assets/ubuntu-regular-webfont.woff) format('woff');
}

body {
	margin: 8px;
	font-family: ubuntu, helvetica;
	font-size: 14px;
	color: rgb(90, 90, 90);
	/* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12); */
	background-color: rgb(243, 250, 255);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.24), rgba(0, 0, 0, 0.08));
	-webkit-font-smoothing: antialiased;
}

@-moz-document url-prefix() { 
    body {
		width: 556px;
		height: 365px;
		padding: 8px;
		margin: 0;
	} 
}

h2 {
	padding: 0;
    margin: 0 0 9px 0px;
    font-size: 1.2em;
    font-weight: normal;
    display: inline-block;
}

p {
    margin: 0 0 5px 0;
}


a {
    text-decoration: none;
    color: #0041d2;
}

a:hover {
    text-decoration: underline;
}
.clr {
	clear: both;
	width: 100%;
	height: 0;
}



/* data table */
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

#sitetable {
	margin-bottom: 30px;
}

th {
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    font-size: 0.9em;
}

table#sitetable thead {
	border-bottom: 2px solid #6678b1;
}

table#sitetable tfoot {
	border-top: 2px solid #6678b1;
}


tfoot tr td {
	text-shadow: 1px 0px 0px rgb(0, 0, 0); /*  , 1px 1px 1px rgba(0, 0, 0, 0.28) */
	color: #3a3a3a;
	padding: 10px 8px;
	vertical-align: top;
}

td {
	color: #3c3c3c;
	padding: 5px 8px 6px;
	transition: background .3s ease-in-out;
	white-space: nowrap;
}

td[data-role], .total {
	font-family: ubuntu, 'consolas', sans-serif;
}

tr.from-cache td, tr.from-cache td[data-role]:after {
	color: #8f8f90;
}

.site.error a {
	color: red;
}


th[data-lang="site"], td.site {
	white-space: nowrap;
	min-width: 122px;
}

.stud, [data-role], .login {
min-width: 72px;
}

td.login {
    color: #8c8c8c;
    font-size: 0.8em;
}

td a {
	color: #3c5984;
}
tr:hover td {
    /* color: #6699ff; */
    background-color: #c4dbf3;
}

td[data-role]:after {
	font-size: 0.8em;
	color: #3c3c3c;
}

[data-currency="RUR"] td[data-role].on:after,
.total[data-currency="RUR"]:after {
	content: " Ñ€";
}
[data-currency="USD"] td[data-role].on:after,
.total[data-currency="USD"]:after {
	content: " $";
}


/* end - data table */


.mline {
	margin: 6px 0 0 0;
}



/* .opt-panel {
    text-align: right;
    padding: 0px 0px;
    margin-top: 3px;
} */

.opt-panel {
	text-align: right;
	margin: 9px;
	padding: 0px 0px;
	margin-top: auto;
	vertical-align: bottom;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.opt-panel a {
    color: #4c67b3;
    text-decoration: none;
	margin-left: 10px;
	font-size: 0.90em;
}

.opt-panel a:hover {
    color: #0036ce;
    text-decoration: underline;
}



#add, #add_site, #settings, #about {
	display : none;
}


#about {
	margin: 0 0 29px 0;
}


/* #add */ 


.serach-wrap {
    float: right;
}


.reqfield {
    padding: 2px 3px 3px;
    /* font-size: 1.05em; */
    color: rgb(49, 49, 49);
    background-color: rgb(255, 255, 255);
    width: 184px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.24), rgba(0, 0, 0, 0.08));
    border: 1px solid #8e8e8e;
    border-radius: 3px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.16);
}

.reqfield.imp0 {
    height: 24px;
    font-size: 1em;
    padding: 0px 3px 0px;
}

.sitelist, .dellist {
    padding: 5px;
    max-height: 500px;
}

.cat-wrap {
    margin: 0 0 8px 0;
}
span.category {
	background-color: #6b6b6b;
	padding: 1px 7px 4px 5px;
	border-radius: 3px;
	color: #efefef;
	margin: 1px 11px 0px 3px;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.08));
	text-shadow: -1px 0px 0 #000;
	float: right;
	font: bold 11px/11px verdana;
}


.line {
	margin: 3px 0;
	padding: 2px 3px;
	min-height: 18px;
	transition: background .3s linear;
	cursor: default;
}

.line:hover {
	background-color: #c4dbf3;
	border-radius: 3px;
}

.dellist .line {
    cursor: move;
}

.frm {
	margin: 8px 0 10px 0;
	padding: 8px 7px;
	background-color: #cfe2d9;
	border-radius: 3px;
}

.line img {
	vertical-align: top;
	margin: 1px 0px 0px 0;
}

.slowbg {
	transition: background-color 0.8s ease-in-out;
}

a.back {
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    line-height: 23px;
    font-family: monospace;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 1px 5px -2px 3px;
    border-radius: 3px;
    padding: 0 7px 0 5px;
    color: white;
    background-color: #4987bb;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    transition: 0.2s ease-in-out all;
}
a.back:hover {
    text-decoration: none;
    background-color: #5697ce;
}

span.descr-title {
    font-weight: bold;
    color: #4c4c4c;
}


.logpas.reqfield {
	margin: 0 7px 0 0;
	width: 35%;
}


input.reqfield.maspass {
	margin: 88px auto 103px;
	display: block;
	font-size: 1.6em;
	width: 241px;
	text-align: center;
}




img.icon {
	vertical-align: bottom;
	margin-bottom: 0px;
}

h2 img {
	vertical-align: text-bottom;
	margin: 0px 4px 2px 5px;
}


label {
	margin: 0;
}


.panwrap select, .panwrap input {
	margin: 5px 0 5px;
}

.panwrap input[type="checkbox"] {
	vertical-align: middle;
	margin: 5px 6px 8px 0;
}


.wrap50 {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.wrap50 h2 {
	margin: 12px 0 0 0;
	font-size: 1.1em;
	text-align: center;
	display: block;
}


.delbutton:hover {
	text-decoration: none;
}


.delbutton {
	background-color: #e43f3f;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	font: bold 23px/13px monospace;
	color: white;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.08), rgba(0, 0, 0, 0.08));
	text-shadow: 0px 1px 0 black;
	margin: 0 13px 0 5px;
	float: right;
	padding: 2px 3px 3px 2px
}


.wo_tabl {
	min-width: 450px;
	display: block;
	text-align: center;
	margin: 39px 0 68px;
}


.extname {
	margin: 20px 0 20px 0;
	text-align: center;
	font-size: 1.3em;
	text-shadow: -1px 0px 0px rgb(0, 0, 0);
	color: #000000;
	display: block;
}


.ver {
	vertical-align: super;
	font-size: 0.6em;
	margin: 0 0 0px 6px;
	color: #737373;
	text-shadow: -1px 0px 0px #737373;
}

ul.links {
	list-style: none;
	padding: 0;
	text-align: center;
}
ul.links li {
	padding: 0px 0 5px;
}

.notebin {
	font-size: 0.9em;
	color: #737373;
	background: #feffdc;
	padding: 3px 7px 4px;
}

.note {
	text-align: center;
	font-size: 0.85em;
}

.nl {
	display: inline-block;
	margin: 7px 0 0 0;
}

.imp {
	color: red;
}



table {  border-collapse: collapse; }

 
table#sitetable thead, table#sitetable tbody, table#sitetable tfoot { display: block; } 
table#sitetable tbody { max-height: 300px; overflow: auto;}


.drag {
	cursor:default; z-index:1;
}
.dragActive {
	position:relative;
	background-color:#c4dbf3;  /* like a :hover line */
}
